<!DOCTYPE html>
<html>

<head>
    <title>Freaking Math</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./stylesheets/freakingmath.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/game.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./javascripts/game.js"></script>
    <script src="./javascripts/profile.js"></script>
</head>

<body>

    <div class="game">
        <div class="dropdown">
            <button onclick="profile()" class="dropbtn">
                <% if (username) { %>
                    <p><%=username%></p>
                <% } %>
            </button>
            <div id="myDropdown" class="dropdown-content">
                <% if (username) { %>
                <a id="quick" class="avatar" href="#">
                    Quick:
                    <%=quick%></a>
                <a id="normal" class="avatar" href="#">
                    Normal:
                    <%=normal%></a>
                <% } %>
                <% if ('admin' == username) { %>
                <a href="/usermanager">User</a>
                <% } %>
                <a href="/logout">Log out</a>
            </div>
        </div>

        <div class="beforePlaying">
            <img class="photo" src="./images/0.png">
            <span class="title1">Freaking</span>
            <span class="title2">Math</span>
            <div><button class="start1"><i class="fa fa-play"></i></button></div>
            <div style="top: 405px"><button class="start2">20s</button></div>
            <div style="top: 520px">
                <button id="rank" class="rankbuton"><i class="fa fa-star"></i></button>
            </div>
        </div>
        <div class="time"></div>
        <div class="afterPlaying1">
            <li style="padding-top: 80px">Game Over</li>
            <ul style="padding: 17px 0">
                <li>Score: </li>
                <li class="score"></li>
            </ul>
            <ul>
                <li>Highscore: </li>
                <li class="highScore"></li>
            </ul>
            <div><button class="restart1"><i class="fa fa-undo"></i></button></div>
            <div style="top: 478px"><button class="menu"><i class="fa fa-th-list"></i></button></div>
        </div>
        <div class="afterPlaying2">
            <li style="padding-top: 80px">Game Over</li>
            <ul style="padding: 17px 0">
                <li>Score: </li>
                <li class="score"></li>
            </ul>
            <ul>
                <li>Highscore: </li>
                <li class="highScore"></li>
            </ul>
            <div><button class="restart2"><i class="fa fa-undo"></i></button></div>
            <div style="top: 478px"><button class="menu"><i class="fa fa-th-list"></i></button></div>
        </div>
        <div class="Playing1">
            <ul class="calculation">
                <li class="num-1"></li>
                <li class="add">+</li>
                <li class="num-2"></li>
                <li class="point"></li>
            </ul>
            <ul style="padding-bottom: 55px">
                <li class="result">=</li>
                <li class="sum"></li>
            </ul>
            <button class="true1"><i class="fa fa-check"></i></button>
            <button class="false1   "><i class="fa fa-times"></i></button>
        </div>
        <div class="Playing2">
            <ul class="calculation">
                <li class="num-1"></li>
                <li class="add">+</li>
                <li class="num-2"></li>
                <li class="point"></li>
            </ul>
            <ul style="padding-bottom: 55px">
                <li class="result">=</li>
                <li class="sum"></li>
            </ul>
            <button class="true2"><i class="fa fa-check"></i></button>
            <button class="false2"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="tableRank">
            </div>
        </div>
    </div>
</body>

</html>