<!DOCTYPE html>
<html>

<head>
    <title>My website</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/table.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./javascripts/table.js"></script>
</head>

<body>
    <div class="game">
        <form method="POST" id="form">
            <div class="container" style="color: white; padding-top: 20px">
                <div class="row">
                    <label class="col-md-5">Name</label>
                    <input type="text" name="username" placeholder="username...">
                </div>
            </div>

            <div class="container mt-3" style="color: white">
                <div class="row">
                    <label class="col-md-5">Password</label>
                    <input type="text" name="password" placeholder="password...">
                </div>
            </div>

            <div class="container mt-3" style="color: white">
                <div class="row">
                    <label class="col-md-5">Quickpoint</label>
                    <input type="text" name="quickpoint" placeholder="quickpoint...">
                </div>
            </div>

            <div class="container mt-3" style="color: white">
                <div class="row">
                    <label class="col-md-5">Normalpoint</label>
                    <input type="text" name="normalpoint" placeholder="normalpoint...">
                </div>
            </div>

            <div class="container mt-3" style="color: white">
                <div class="row">
                    <label class="col-md-5">Age</label>
                    <input type="text" name="age" placeholder="age...">
                </div>
            </div>          
            <div id="error" style="color: red;font:sans-serif;"></div>
            <br>
            <input type="button" name="delete" value="DELETE" onclick="checkButon(this.name)">
            <input type="button" name="add" value="ADD" onclick="checkButon(this.name)">
            <input type="button" name="edit" value="EDIT" onclick="checkButon(this.name)">
            <br>
            <br>
            <input type="text" name="search" id="search" placeholder="Search..." onkeypress="searchName(event)">
            <br>
            <div id="usertable" class="table table-striped">
                <div class="data">
                    <%-data%>
                </div>
                
            </div>
        </form>
    </div>
    <script type="text/javascript">
    </script>
</body>

</html>