<!DOCTYPE html>
<html>

<head>
    <title>My website</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/index.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./javascripts/table.js"></script>
</head>

<body>
    <h1></h1>
    <form method="POST" id="form">
        Name:<br>
        <input type="text" name="username" placeholder="username...">
        <br>
        Pass:<br>
        <input type="text" name="password" placeholder="password...">
        <br>
        Quickpoint:<br>
        <input type="text" name="quickpoint" placeholder="quickpoint...">
        <br>
        Normalpoint:<br>
        <input type="text" name="normalpoint" placeholder="normalpoint...">
        <br>
        Age:<br>
        <input type="text" name="age" placeholder="age...">
        <br>
        <br>
        <div id="error" style="color: red;font:sans-serif;"></div>
        <br>
        <input type="button" name="delete" value="DELETE" onclick="checkButon(this.name)">
        <input type="button" name="add" value="ADD" onclick="checkButon(this.name)">
        <input type="button" name="edit" value="EDIT" onclick="checkButon(this.name)">
        <br>
        <br>
        <input type="text" name="search" id="search" placeholder="Search..." onkeyup="searchName(event)">
        <br>
        <div id="usertable">
            <%-data%>
        </div>
    </form>
    <script type="text/javascript">
    </script>
</body>

</html>